.navigationbar{
     height: 100px; 
}
.starter{
     margin-top: 30px;
     margin-bottom: 30px;
     font-size: 25px;
     color: rgba(0, 0, 0, 0.7);
     /* height: 750px; */
}
.starter-veg-img{
     height: 250px;
}
.feedback{
     height: 500px;
     background-color:rgb(235, 176, 68);
}
.feedbackselect{
     background-color:rgb(239, 223, 159)
}
.feedbackcustomermsg{
     height: 250px;
     margin-left: 15px;
     margin-top: 50px;
     color: rgb(84, 82, 82);
     text-align: center;
}
.feedbackmsg{
     font-size: 16px;
     font-family: "Roboto Condensed", Arial, sans-serif;
     color: rgb(84, 82, 82);
     text-align: center;
}
.fd_selectoption{
     font-size: 35px;
     color: rgb(84, 82, 82);
     line-height: 48px;
     margin-bottom: 26px;
     margin-top: 20px;
}
.feedbackOption{
    display: flex;
    list-style: none;
    color: rgb(84, 82, 82);
}
.fdRateMsg{
     margin-left: 30px;
     margin-top: 50px;
     font-size: 35px;
     color: rgb(84, 82, 82);
     margin-bottom: 26px;
}
.fdPoorMsg{
     font-size: 16px;
     font-weight: bold;
     text-align: center;
}
.aboutus{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.contactUs{
     height: 750px;
     background-color:rgb(239, 223, 159);
}
.one{
     font-size: 18px;
     line-height: 25px;
}
.contactUsOrders p {
     color: rgba(0, 0, 0, 0.7); 
     font-size: 18px;
    /* line-height: 25px; */
    margin-top: 50px;
}




